<!doctype html>
<html>
<head>
    <title>Library Checkout</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
      <% if (user.local.email === "admin" ) { %>
        <h1 class="top"> Library Administration System</h1>
        <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>
      <% } else { %>
        <h1> Library Checkout</h1>
        <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>
      <% } %>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">

                <% if (user.local.email === "admin" ) { %>
                  <h3> Administrator</h3>


                <% } else { %>

                <h3> Member</h3>
                <% } %>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>


            </div>
        </div>
        <div class="col-sm-6">
          <div class="list">


          <h3>Library Inventory</h3>
          <h4>Title / Author / Available</h4>
          <ul class="messages">
          <% for(var i=0; i<inventory.length; i++) {%>
            <li class="message">
              <span><%= inventory[i].title %></span>
              <span><%= inventory[i].author %></span>
              <span class="available"><%= inventory[i].available %></span>
              <i class="fas fa-times"></i>
            </li>
          <% } %>
        </ul>
        </div>

<% if (user.local.email === "admin") { %>
  <h2>Add Books To Inventory</h2>
<form action="/library" method="POST">
  <input type="text" placeholder ="Title" name="title" >
  <input type="text" placeholder="Author" name="author">
  <input type="text" placeholder="Availability" name="available">
  <button type="submit">Submit</button>
</form>
</div>
<% } %>

</div>

<script src="main.js"></script>

</body>
</html>
